@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get  { return "Show most like places"; }
    }

    [FunctionParameter(Label = "Place Detail Page")]
    public DataReference<IPage> PlaceDetailPage { get; set; }

    public static string GetUrlFromTitle(string title)
    {
        const string autoRemoveChars = @",./\?#!""@+'`´*():;$%&=¦§";
        var generated = new System.Text.StringBuilder();

        foreach (var c in title.Where(c => autoRemoveChars.IndexOf(c) == -1))
        {
            generated.Append(c);
        }

        var url = generated.ToString().Replace(" ", "-");

        return url.ToLower();
    }
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    </head>
    <body>
        <ul>
            @{var places = Data.Get<My.Content.MostPlace>().OrderBy(t => t.Order).ToList();
                foreach (var item in places)
                {
                    var place = Data.Get<My.Content.Place>().Where(t => t.Id == item.Place).SingleOrDefault();
                    var area = Data.Get<My.Content.PlaceArea>().Where(t => t.Id == place.Area).SingleOrDefault();
                    int index = places.IndexOf(item) + 1;
                    <li class="rank@(index)"><a href="@Html.C1().PageUrl(PlaceDetailPage.Data)/@GetUrlFromTitle(area.Title)/@GetUrlFromTitle(place.Title)">@place.Title</a></li>        
                }
            }
		</ul>
    </body>
</html>